html,
body {
  margin: 20px;
  padding: 0;
}

section {
  margin-top: 100px;;
}


img {
  max-width: 100%;
}

.category {
  text-transform: uppercase;
  font-size: 1.2rem;
}


.flex {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}


.flex img {
  width: 200px;
}